@import '../../../resources.scss';

.Button {
  width: 150px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $colorGray;
  transition: all .3s;
  outline: none;
  border: 1px solid $colorGray;
  color: $colorGrayDark;

  &_active {
    border: 1px solid $colorPink;
    background-color: $colorWhite;
    color: $colorPink;
    cursor: pointer;
  }
}
