@import '../../../resources.scss';

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2000;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  overflow: hidden;

  &__header {
    background-color: $colorGrayLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $colorGray;
  }

  &__header__text {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  &__header__closeBtn {
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background-color: $colorGray;
    }
    
    &__button {
      color: $colorPrimary;
      font-size: 2rem;
    }
  }
}
