@import '../../../resources.scss';

.Table {
  width: 28%;
  min-width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $colorWhite;
  border: 1px solid $colorGray;
  border-radius: 5px;

  @include respond(lgm) {
    margin-top: 2rem;
  }

  &__header {
    display: flex;
    width: 100%;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  &__header__text {
    font-weight: normal;
    font-size: 1.25rem;
  }

  &__data {
    overflow-y: scroll;
    flex: 1;
    padding: 0 20px;

    &__icon {
      color: $colorGray;
      font-size: 3rem;
    }
  }
}