.instruments {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    max-height: 6.5rem;
    width: 95%;
    margin: auto;

    & > input {
        margin: 0 10px;
        width: 50%;
        height: 40%;
        min-height: 2.2rem;
        border-radius: 5px;
        border: 1px solid #dbdbdb;
        background-image: url('./theme/assets/search-icon.svg');
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: 2% 50%;
        padding-left: 3%;
    }

    & .button {
        display: flex;
        max-height: 40%;
        justify-content: space-around;
        border: 1px solid $main-blue;
        padding: 5px 1.5%;
        background: $light-blue;
        color: $main-blue;
        border-radius: 5px;
        width: 10%;
        cursor: pointer;

        & svg {
            height: 100%;
        }

        & span {
            height: 100%;
        }
    }
}

/* selects */
.selectContainer {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background: $white;
    border-radius: 5px;
}

.select {
    display: inline-block;
    margin: 0 10px;
    width: calc(20% - 20px);
}
