@import '../../../resources.scss';

.RadioButtons {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  
  &__button {
    display: flex;
    align-items: center;
    // flex-shrink: 1;
    margin: 10px 0;
    cursor: pointer;

  }

  &__icon {
    color: $colorPrimaryMedium;
    font-size: 2rem;
    margin-right: 1rem;
  }
}
